[submodule ".emacs.d/plugins/evil"]
	path = .emacs.d/plugins/evil
	url = https://github.com/emacsmirror/evil.git
[submodule ".emacs.d/plugins/arduino-mode"]
	path = .emacs.d/plugins/arduino-mode
	url = git://github.com/bookest/arduino-mode.git
[submodule ".emacs.d/plugins/yasnippet"]
	path = .emacs.d/plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "dockerfile-mode"]
	path = .emacs.d/plugins/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode
