[user]
        name = Karl Ljungkvist
        email = ; set me

[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta       = "11"
  frag       = "magenta bold"
  commit     = "yellow bold"
  old        = "red bold"
  new        = "green bold"
  whitespace = "red reverse"

  ; meta = yellow bold
  ; frag = magenta bold
  ; old = red bold
  ; new = green bold
  ; whitespace = red reverse

[color "diff-highlight"]
  oldNormal    = "red bold"
  oldHighlight = "red bold 52"
  newNormal    = "green bold"
  newHighlight = "green bold 22"

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    sw = switch
    rr = restore
    cyp = cherry-pick
    amend = commit --amend
    fixup = commit --amend --no-edit
    df = diff --find-copies-harder --minimal --submodule=log
    wdf = diff --word-diff -w --find-copies-harder --minimal
    dfc = diff --find-copies-harder --minimal --cached
    lg = log -p
    glog = log --oneline --graph --decorate
    who = shortlog -s --
    ls = ls-files
    rh = reset HEAD
    gla = log --graph --decorate --pretty=oneline --abbrev-commit --all
    su = submodule update --init
    sur = submodule update --init --recursive
    bsu = "!git branch --set-upstream-to \"origin/$(git rev-parse --abbrev-ref HEAD)\""
    addnw=!sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
    rgrep = grep --recurse-submodules

[mergetool "ediff"]
    cmd = emacs --eval \" (progn (defun ediff-write-merge-buffer () (let ((file ediff-merge-store-file)) (set-buffer ediff-buffer-C) (write-region (point-min) (point-max) file) (message \\\"Merge buffer saved in: %s\\\" file) (set-buffer-modified-p nil) (sit-for 1))) (setq ediff-quit-hook 'kill-emacs ediff-quit-merge-hook 'ediff-write-merge-buffer) (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\"))\"

[merge]
    tool = ediff
[push]
	default = current
[core]
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[init]
	defaultBranch = master
[pull]
	ff = only

[status]
	submodulesummary = 1
