!.Xresources
!

!! -----------------------------------------------------------------------------
!! (u)xterm
!! -----------------------------------------------------------------------------
XTerm*reverseVideo:                     True
UXTerm*reverseVideo:                    True

XTerm*metaSendsEscape:                  True
UXTerm*metaSendsEscape:                 True

XTerm*backarrowKey:                     false
UXTerm*backarrowKey:                    false

XTerm*ttyModes:                         erase ^?
UXTerm*ttyModes:                        erase ^?
XTerm*charClass:                        0-32:1,33-126:2,127-160:3,161-255:2
UXTerm*charClass:                       0-32:1,33-126:2,127-160:3,161-255:2

!! -----------------------------------------------------------------------------
!! urxvt
!! -----------------------------------------------------------------------------

! urxvt*reverseVideo:                   True

! URxvt.transparent:                    true
! URxvt.shading:                                50

URxvt*depth:                            32
urxvt*background:                       rgba:0111/0111/0111/dddd

URxvt.iso14755_52:                      false
URxvt.background:                       black
URxvt.foreground:                       white

urxvt*scrollBar:                        Off
URxvt.perl-ext:                         default,matcher
URxvt.urlLauncher:                      /usr/bin/firefox
URxvt.matcher.button:                   1
URxvt.urgentOnBell:                     true

! Urxvt.secondaryScroll:  true    ! Enable Shift-PageUp/Down in screen

!! -----------------------------------------------------------------------------
!! Emacs
!! -----------------------------------------------------------------------------

Emacs*toolBar:                          off
Emacs*verticalScrollBars:               off
Emacs*font:                             Monospace-8

!Emacs23client*toolBar:                 off

!! 'day mode'
Emacs*background:                       #ffffe0
Emacs*foreground:                       black
Emacs*modeline*attributeForeground:     black
Emacs*cursorColor:                      black

!! 'night mode'
!Emacs*background:                      black
!Emacs*foreground:                      lightgrey
!Emacs*modeline*attributeForeground:    black
!Emacs*cursorColor:                     lightgrey
